# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log

# Virtual environment
.venv/
venv/
env/

# IDE/editor settings
.vscode/
.idea/

# Static & media (collected/generated)
staticfiles/
media/

# Environment variables
.env

